.menu-container {
    height: 100vh;
    background-image: url(./wallpaper.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-bottom: 30px;
    background-color: #3B3973;
    color: white;
}    

.menu-header h1 {
    font-family: 'Tangerine';
    font-size: 60px;
    margin: auto;
}

.menu-header button {
    padding: 20px;
    margin: 14px;
    border-radius: 6px;
    border: none;
    background-color: #9385AD;
    font-size: large;
    color: black;
}

.header-modulo-menu h2 {
    font-family: 'Delius Swash Caps';
    font-size: 25px;
    color: white;
    text-align: center;
}

.modulo-menu {
    background-color: #7d305cbb;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
}    

.sessoes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    font-family: 'Delius Swash Caps';
    font-size: large;
}

.sessoes h3 {
    text-align: center;
}

.sessao-usuarios, .sessao-produtos,
.sessao-movimentacao, .sessao-relatorios {
    flex-basis: calc(45% - 20px);
    padding: 20px;
    background-color: #9385adbd;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}    