.mov-container {
  height: 100vh;
  background-image: url(./wallpaper.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.mov-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-bottom: 30px;
  background-color: #3B3973;
  color: white;
}

.mov-header h1 {
  font-family: 'Tangerine';
  font-size: 60px;
  margin: auto;
}

button.voltar {
  padding: 20px;
  margin: 14px;
  border-radius: 6px;
  border: none;
  background-color: #9385AD;
  font-size: large;
  color: black;
}

.listamovimentacoes {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.header-sessao-mov {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.header-sessao-mov button {  
  padding: 8px 12px;
  margin: 0 8px;
  height: 5vh;
  border-radius: 6px;
  border: none;
  background-color: #7D305B;
  color: white;
  font-size: large;
}

.dados-mov {
  width: 90%;
  margin-left: 5%;
  border-collapse: collapse;
  background-color: #9385AD;
  margin-bottom: 40px;
}

th, td {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #E69EAC;
  padding-block: 20px 10px;
  border-radius: 6px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-content h2 {
  font-family: 'Delius Swash Caps';
  font-size: 25px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.modal-actions button {
  height: 6vh;
  border: none;
  width: 100%;
  border-radius: 6px;
  font-size: large;
}

.modal-actions button[type="cancel"] {
  background-color: #a30000;
  color: white;
}

.modal-actions button[type="submit"] {
  background-color: #074e10;
  color: white;
}

select {
  height: 2rem;
}